.navbar-brand-modify{
    float: left;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
}

.zhuojianlogo{
    width: 100%;
    height:50px;
}

.navbar-brand{
    padding: 0px;
    margin-right: -25px;
    margin-top: -6px;
}
