.background-color{
    background-color: #f8f8f8;
    padding-top: 10px;
}

.col-md-10 .row{
    padding-top: 10px;
}

.col-md-6 h2 {
    margin-top: 24px;
    margin-bottom: 3px;
    font-size: 16px;
    color: #007722;
    margin: 0 0 12px 0;
    line-height: 150%;
}

.thumbnail{
    float: right;
}

.caption h3{
    margin: 5px 0;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-button{
    width: 136px;
    margin-top: 4px;
}